.vcard {
    border: none;
}

.body, h1, h2, h3, h4, h5, h6, p, .vcard, button, .button {
    font-family: 'Open Sans', sans-serif;
}

.main-logo {
    padding-top: 10px;
}

.subtitle {
    font-family: serif;
    font-style: italic;
}

.th {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    color: #e81e39;
}

a:hover h3 {
    transition: color 0.2s ease-out;
}

section {
    padding: 40px 0;
}

#featured-products {
    
}

#product-categories {
    background: #eee;
}

#brands {
    padding-bottom: 10px;
}

#logo-3dfactories {
    margin-top: 25%;
}

#logo-3d-systems {
    margin-top: -10%;
}

#logo-massportal {
    margin-top: 20%;
    margin-bottom: 10%;
}

#logo-makerbot {
    margin-top: -5%;
}

#logo-be3d {
    margin-top: 25%;
}

#logo-fillamentum {
    margin-top: 20%;
}

#logo-plasty-mladec {
    margin-top: 25%;
}

#logo-verbatim {
    margin-top: 25%;
}

#services {
    background: #eee;
}

#to-eshop {
    background: #ddd;
}

#to-eshop p, #to-eshop .button {
    margin: 0;
}

#testimonials {
    
}

#contact {
    background: #444;
    color: #aaa;
    padding-top: 40px;
    border-top: 5px solid #e81e39;
}

#contact h4 {
    color: #ccc;
}

#contact .vcard .fn {
    color: #e81e39;
}

.invoice-address .details {
    font-size: 80%;
}

#bottom-line {
    background: #333;
    color: #aaa;
}

.copyright {
    font-size: 80%;
}

.desaturated img {
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.desaturated img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: opacity 0.2s ease-out;
}
